/* ---------------header  css---------------- */
/* 
li>a{
    text-decoration: none;
    color: rgb(12, 12, 25);
}
li>a:hover{
    color: red;
}
.top-header {
    background-color:white;
    padding-top:10px; 
      
}
.tom >input{
    color: black;
    border-radius: 10px;
   padding: 0px 0px 0px 4px;

   border: 1px solid black;

}
.navigation>li{
    border-bottom: 1px solid black;
}
     */
     .top-header-main {
        height: 50px;
    }
    
    .top-header-main p {
        margin: 0;
        padding: 0;
    }
    
    header hr {
        margin: 0%;
    }
    
    .t-icon {
        color: #E6AF5D;
    }
    
    .help-sec p {
        color: #6a6b6d;
    }
    
    .navigation-main{
        height: 70px;
    }
    
    ul{
        margin: 0%;
        padding: 0%;
    }
    
    .off-btn{
        width: 20px;
    }
    
    .logo img{
        height: 30px;
        width: 110px;
    }
    
    .nav-menus{
        text-decoration: none;
        color: #222222;
    }
/* ----------------------end---------------- */

/* ------------------carosal start----------- */
.slide>img{
    width: 100%;
    /* height: 350px; */
    margin-top: 0%;
}
.caro-title{
    top: 30%;
    left: 20%;
}
.shp-now{
    background-color: black;
    color: rgb(255, 254, 253);
}


/* ---------------------end----------- */
/* ----------------------about-css ------------------------------ */
.abc>img{
   width: 100%;

}
.abc{
    position: relative;
    overflow: hidden;
}
.abc>img:hover{
    transform: scale(1.2);
    transition: 0.1s;
}


.info-1{
    margin-top: 10%;
}
/* ------------------------end------------------------- */


/* ----------------------new Arrivale----------- */


.Ben{
    color: rgb(150, 148, 148);
}
.se-nam{
    bottom: 0%;
    left: 5%;
}
.ig-sev{
    position: relative;
    overflow: hidden;
}

.ig-sev>img:hover{
    transform: scale(1.2);
    transition: 0.2s;
}
/* -----------------------end--------------- */
/* ----------------------clint-testimonisal-seo---------------------- */
.clint-testimonisal-seo{
    background-color:#F4F4F4;
    height: 440px;
}
.tetimationl-img>img{
    position: absolute;
    left: 43%;
    border-radius: 50%;
}

.testimonal-big-info {
    margin-top: 15%;
}

.demp-2{
    position: relative;
    overflow: hidden;
}

.demp-2>img:hover{
    transform: scale(1.1);
    transition: 1s;
}

.penguin-btn {
    background-color: rgba(164, 188, 70, 1);
    color: rgb(0, 0, 0);
    margin-left: 10px;
  }
/* ----------------------end css----------------------- */


/* ===================================================== Home Page Complete CSS============================== */

/* ================================================================Aboust--page --css start--------------------- */

.tbut-seo{
    background-color: #F4F4F4;
    height: 150px;
}
.markating-seo{
    background-color: #F4F4F4;
    height: auto;

}
.clit-ig-2>img{
    border-radius: 50%;
    margin-left: 40%;

}
.Choose-Us-seo{
  margin: 8% 0%;
}


/* ---------------------------------------------------------------aboust css  end-------------------- */

/* -----------------------------------------------shope page css start ----------------------------- */
.product-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    padding: 20px;
}

.pre-btn,.nxt-btn{
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
}

.pre-btn{
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn{
    right: 0;
}

.pre-btn img,.nxt-btn img{
    opacity: 0.2;
}

.pre-btn:hover img,.nxt-btn:hover img{
    opacity: 1;
}

.collection-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.collection{
    width: 30%;
    height: 300px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
}

.collection-title{
    position: absolute;
    bottom: 20px;
    text-align: center;
}

.shop-sec{

    margin-bottom: 50px;
}
/*------------------------------------------------------------------------------------ */
/* ================================================================ BLOG--page --css start--------------------- */

.blog-seo{
    background-color: #F4F4F4;
    height: 150px;
}
.rmd{
    background-color: #C29958;
}
.rmd:hover{
    color:wheat;
    background-color:black;
    transition: 1s;
}

.blg-ig{
    position: relative;
    overflow: hidden;

}
.blg-ig>img:hover{
    transform: scale(1.1);
    transition: 0.5s;
   

}




/* ---------------------------------------------------------------Blog css  end-------------------- */


/* ================================================================ Contact--page --css start--------------------- */
.contact-seo{
    background-color: #e2e2e2;
    height: 150px;
}
.fom>input{
    width: 100%;
    padding:10px 0px;
    margin: 5px 0px;
}
.tgb>input{
    width: 100%;
    padding:40px 0px;
}
.send{
    background-color: #C29958;
}
.send:hover{
        background-color: green;
        transition: 0.5s;
        color: white;
}


/* ================================================================ Contact-page --css start--------------------- */
:link{

    text-decoration: none;
}



@media only screen and (min-width: 992px) and (max-width: 1200px)  {
   
   
    }
@media only screen and (min-width: 768px) and (max-width: 991px)  {
    .tetimationl-img>img{
        position: absolute;
        left: 40%;
        border-radius: 50%;
    }
   .testimonal-big-info {
    font-size: 16px;
    margin-top: 25%;
   
   }
   
   
    }
@media only screen and (min-width: 576px) and (max-width: 767px)  {
   
   
    }
@media only screen and (min-width: 200px) and (max-width: 575px)  {
    .tetimationl-img>img{
        position: absolute;
        left: 25%;
        border-radius: 50%;
    }
   .testimonal-big-info {
    font-size: 13px;
    margin-top: 50%;
   
   }
   
    }

    /* singl-product */

 
    
    .about-sub-head-1{
        color: #E6AF5D;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 600;
    }
    
    .about-head{
        font-size: 55px;
    }
    
    .about-sub-head-2{
        font-size: 20px;
    }
    
    .about-btn{
        border: 1px solid black;
        width: 200px;
        padding: 15px;
        text-align: center;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 600;
    }
    .about-btn:hover{
        background-color: #E6AF5D;
        color: white;
        border: none;
    }
    
    @media only screen and (max-width: 1200px) {
        .about-head{
            font-size: 40px;
        }
        .about-sub-head-2{
            font-size: 18px;
        }
    }



    /* chekout css */

